# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Logs
logs
*.log
npm-debug.log*

# Other directories/files
dist/
.DS_Store

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
node_modules/
